
body {
    color: #ebdbb2;
}


body {
    background-color: #282828;
}

.primary-button {
    background-color: #98971a;
    color: #282828;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu Mono', monospace;
}

body {
    font-family: 'Ubuntu Mono', monospace;
}

/* Import the font for body text */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* Import the font for header text */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

#borderDemo {
    border: 5px solid #98971A;
    background-color: #98971A;
    border-radius: 0px 0px 15px 0px;
    padding: 10px 20px;
    color: #282828;
    font-weight: bold;
    cursor: pointer;
}

li {
    cursor: pointer;
}

.completed {
    color: #a89984;
    text-decoration: line-through;
    cursor: pointer;
}

input[type="text"] {
    background-color: transparent;
    color: inherit;
    border: none;
    outline: none;
    font-family: inherit;
}

button {
    border: 5px solid #98971A;
    background-color: #98971A;
    border-radius: 0px 0px 15px 0px;
    padding: 10px 20px;
    color: #282828;
    font-weight: bold;
    cursor: pointer;
}

button.confirm {
    margin-left: 10px;
}

#removeButton,
#doneButton {
    display: none;
}

.hidden {
    display: none;
}

.archive-heading {
    color: #a89984;
    font-size: 20px;
    
}

.archive-button {
    border-color: #689d6a;
    background-color: #689d6a;
    color: #282828;
   
}

.archive-list li {
    color: #a89984;
    text-decoration: none;
    cursor: text;

}

#archiveEmptyMessage {
    color: #a89984;

}

#myList li.remove-mode:hover,
#archiveList li.remove-mode:hover {
    color: #cc241d; 
}

#archiveList.highlight-text li {
    color: #cc241d;
  }
  
  input[type="text"] {
    font-size: 16px; 
  }
  
  